@model List<Hobby>
@{
    ViewBag.Title = "Hobbies";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>This is our final project for Web Server Application Development.</p>
</div>
<figure class="figure">
    <img class="profile-img figure-img img-fluid" src="~/images/IMG_20220405_211218_717.jpg" />
    <figcaption class="figure-caption"><a asp-controller="Home" asp-action="Sara">Sara Barnes</a></figcaption>
</figure>
<figure class="figure" ALIGN="RIGHT">
    <img class="profile-img figure-img img-fluid" src="~/images/BangyanJu.jpg" />
    <figcaption class="figure-caption"><a asp-controller="Home" asp-action="Bangyan">Bangyan Ju</a></figcaption>
</figure>
<figure class="figure" ALIGN="RIGHT">
    <img class="profile-img figure-img img-fluid" src="~/images/image0.jpg" />
    <figcaption class="figure-caption"><a asp-controller="Home" asp-action="Jefferey">Jeffrey Wallace</a></figcaption>
</figure>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Hobby</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hobby in Model)
        {
            <tr>
                <td>@hobby.HobbyId</td>
                <td>@hobby.HobbyName</td>
                <td>@hobby.HobbyDescription</td>
                <td><a asp-controller="Hobby" asp-action="Edit" asp-route-id="@hobby.HobbyId">Edit</a></td>
                <td><a asp-controller="Hobby" asp-action="Delete" asp-route-id="@hobby.HobbyId">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Hobby" asp-action="Add">Add New Hobby</a>

